<h1>Login, fool</h1>

<% if @errors %>
  <%= @errors %>
<% end %>

<form name="login" action='/login' method="post">
  <label>Username:</label>
  <input type="text" name="user_name"><br>
  <label>Password:  </label>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Log In!">
</form>

