<h1>Hello, <%= @user.user_name %> </h1>

<div>
<h3> Here are your stats: </h3>

<p>You have played <%= @user.games.length %> games! </p>
  <% @user.games.each do |game| %>
    <p> You played <%= game.deck.name %> at <%= game.created_at.strftime("%Y-%m-%d") %>! </p>
    <% end %>

</div>
